.shop .products-wrapper .products .product {
    max-width: 262px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.shop .products-wrapper .products .product .photo {
    height: 360px;
    /*TODO: убери жесткую величину */
    background: #F1F2F3;
    position: relative;
}

.shop .products-wrapper .products .product .photo .top-bar {
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 222px;
}

.shop .products-wrapper .products .product .photo .top-bar .labels {
    display: flex;
    gap: 15px;
}

.shop .products-wrapper .products .product .photo .top-bar .labels .label {
    font-size: 10px;
    font-weight: 800;
    line-height: 10px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    padding: 5px 10px;
    background: rgb(255, 142, 142, 1);
}

.shop .products-wrapper .products .product .photo .top-bar .labels .label.new {
    background: rgba(149, 204, 181, 1);
}

.shop .products-wrapper .products .product .photo .product-image {
    width: 100%;
}

.shop .products-wrapper .products .product .info {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.shop .products-wrapper .products .product .name {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: rgba(68, 68, 68, 1);
}

.cart-controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .cart-btn {
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .cart-btn:hover {
    background-color: #e0e0e0;
  }
  
  .quantity {
    font-size: 18px;
    font-weight: bold;
  }
  
  .buy-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #000; 
    border: 2px solid #000;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .buy-btn:hover {
    background-color: #e0e0e0; 
    color: #000;
    border-color: #ccc 
  }
  

  
  